<div class="d-flex row center">
  <form [formGroup]="registerForm">
    <div class="form-group col-md-4">
      <label class="form-control-label">UserName</label>
      <input type="text" class="form-control" formControlName="username" />
    </div>
    <div class="form-group col-md-4">
        <label class="form-control-label">UserName</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
      <div class="form-group col-md-4">
        <label class="form-control-label">UserName</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
      <div class="form-group col-md-4">
        <label class="form-control-label">UserName</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
    <div class="form-group col-md-4">
        <label class="form-control-label">UserName</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
      <div class="form-group col-md-4">
        <label class="form-control-label">UserName</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
    <div class="form-group col-md-4">
        <label class="form-control-label">Password</label>
        <input type="password" class="form-control" formControlName="password" />
      </div>
      <div class="btn btn-info" (click)="createAccount()">Create Account</div>

  </form>



</div>