<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/account">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/module1">Page1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/module2" routerLinkActive="active">Page2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/module3" routerLinkActive="active">Page3</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown_Demo
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="btn-group ">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Welcome Testing
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">View</a></li>
          <li><a class="dropdown-item" href="#">Edit</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="row">
        <div *ngIf="!isLoggedIn">
            <button class="btn btn-primary" (click)="login()">Login</button>
        </div>
        <div *ngIf="isLoggedIn">
          <button class="btn btn-success" (click)="logOut()">LogOut</button>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
<router-outlet></router-outlet>
