<div class="center">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" routerLink="account-detail">View Account</button>
    <button type="button" class="btn btn-outline-primary" routerLink="edit-account">Edit Account</button>
    <button type="button" class="btn btn-outline-primary" routerLink="create-account">Doing something else</button>
  </div>

</div>

<router-outlet></router-outlet>
<!-- <div class=" center">
  <div class="row">
    <div *ngIf="accountAction == 1">
        <app-account-details></app-account-details>
    </div>
    <div *ngIf="accountAction == 2">
        <app-edit-account></app-edit-account>
    </div>
    <div *ngIf="accountAction == 3">
            <p class="fw-bold">Bold text.</p>
            <p class="fw-bolder">Bolder weight text (relative to the parent element).</p>
            <p class="fw-normal">Normal weight text.</p>
            <p class="fw-light">Light weight text.</p>
            <p class="fw-lighter">Lighter weight text (relative to the parent element).</p>
            <p class="fst-italic">Italic text.</p>
            <p class="fst-normal">Text with normal font style</p>
    </div>
  </div> -->
<!-- </div> -->
